.userpic {
  padding: 4em;
}
.userpic img {
  width: 17em;
  margin: auto;
  display: block;
}
.intro {
  text-align: center;
}
.intro h1 {
  font-size: 5em;
}
.intro p {
  font-size: 2em;
}
.Service h1 {
  text-align: center;
  margin-top: 2em;
  font-weight: 600;
  margin-bottom: 2em;
}
.BoxService img {
  width: 35em;
  margin: auto;
  display: block;
}
.BoxService2 h1 {
  text-align: center;
  font-size: 3em;
}
.BoxService2 p {
  text-align: center;
  margin: 2em;
  font-size: 1.5em;
  font-weight: 500;
}
.skill h1 {
  text-align: center;
  font-size: 3em;
}
.progress {
  width: 75%;
  background-color: #fff;
  float: right;
}
.skill-topic {
  text-align: center;
  margin-left: 6%;
  font-size: 1.2em;
  font-weight: 700;
}
.pro-bar {
  margin: 1.5em;
}
.project h1 {
  text-align: center;
  font-size: 3em;
}
.project-pic img {
  width: 23em;
  border-radius: 1.2em;
  margin: auto;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.project-pic {
  margin-top: 5em;
  margin-bottom: 5em;
}
.project-about {
  margin-top: 5em;
  margin-bottom: 5em;
  text-align: center;
}
.project-about p {
  text-align: center;
  margin: 2em;
  font-size: 1.5em;
  font-weight: 500;
}
.project-about h1 {
  font-size: 3em;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #fff;
}
.btn-box {
  align-items: center;
}
.btn {
  margin: 0 2em;
  border: 2px solid #ae00fb;
  background-color: #fff;
  color: #ae00fb;
  font-weight: 600;
  padding: 0.3em 0.5em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* width: 5em; */
}
.btn:hover {
  background-color: #ae00fb;
  color: #fff;
  border: 2px solid #fff;
  transition: 1s;
}
.btn a {
  color: #ae00fb;
}
.btn a:hover {
  color: #fff;
}
.contact h1 {
  text-align: center;
  font-size: 3em;
}
.contact p {
  text-align: center;
  margin: 2em;
  font-size: 1.5em;
  font-weight: 500;
}
.auther {
  text-align: center;
  font-weight: 500;
  font-size: 1.2em;
}
.social img {
  width: 3em;
  margin: 1.5em;
  border-radius: 50%;
}
.social {
  align-items: center;
  text-align: center;
  margin-top: 2.5em;
}
.social img:hover {
  transition: 1s;
  opacity: 0.8;
  border: 3px solid #b5ffd9;
}
.social2 img {
  width: 25em;
  margin: auto;
  display: block;
}

/* reponsive code */
@media only screen and (max-width: 576px) {
  .BoxService img {
    text-align: center;
    width: 20em;
  }
  .intro h1 {
    font-size: 3em;
  }
  .intro p {
    font-size: 1.5em;
  }
  .skill-topic {
    margin-left: 0;
  }
  .progress {
  width: 60%;
  }  
  .pro-bar {
    margin: 1em;
  }
  .project-pic img {
    width: 20em;
  }
  .project-pic {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .project-about {
    margin-top: 3.5em;
    margin-bottom: 3.5em;
    text-align: center;
  }
  .project-about p {
    margin: 1.5em;
  }
  .social2 img {
    width: 20em;
  }
  .btn{
    margin: 0 1em;
  }
  .contact p {
  margin: 1em;
}
.BoxService2 p {
  margin: 1em;
}
}
